{% extends "layout.html" %}
{% block content %}
<header>
    <h1>Your Shopping Cart</h1>
</header>

<section>
    <ul>
        {% for item in items %}
        <li>{{ item.quantity }} x {{ item.name }} - ${{ item.price }} each</li>
        {% else %}
        <li>Your cart is empty.</li>
        {% endfor %}
    </ul>
    <h2>Total: ${{ total_price }}</h2>
    <a href="{{ url_for('index') }}">Continue Shopping</a>
    <a href="{{ url_for('checkout') }}"><button type="button">Checkout</button></a>
    <a href="{{ url_for('clear_cart') }}">Clear Cart</a>
</section>
{% endblock %}
