{% extends "layout.html" %}

{% block content %}
<h1>Register</h1>
<form action="{{ url_for('register') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <h2>Shipping Address</h2>
    <label for="address_line1">Address Line 1:</label>
    <input type="text" id="address_line1" name="address_line1">
    <br>
    <label for="address_line2">Address Line 2:</label>
    <input type="text" id="address_line2" name="address_line2">
    <br>
    <label for="city">City:</label>
    <input type="text" id="city" name="city">
    <br>
    <label for="state">State:</label>
    <input type="text" id="state" name="state">
    <br>
    <label for="postal_code">Postal Code:</label>
    <input type="text" id="postal_code" name="postal_code">
    <br>
    <label for="country">Country:</label>
    <input type="text" id="country" name="country">
    <br>
    <button type="submit">Register</button>
</form>
<a href="{{ url_for('login') }}">Already have an account? Log in here</a>
{% endblock %}
